<html>
    <div>
        <p>
            You published a new post <br> <strong><%=post.content%></strong>
            <br>
            <p>Sent to : <%=post.user.name%></p>
            <br>
            <p>Thanks!</p>
        </p>
    </div>
</html>