<html>
    <div>
        <p>
            You published a comment <br> <strong> <%=comment.content%></strong>
            <br>
            <p>Sent to : <%=comment.user.name%></p>
            <br>
            <p>Thanks!</p>
        </p>
    </div>
</html>